@import url(https://fonts.google.com/specimen/Roboto#styles);

html {
    font-family: 'Roboto', sans-serif;
}

main > div {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
}

main {
    margin: 25px;
}

.main:visited {
    color: white;
}

footer {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    font-weight: bold;
    background-color: rgb(106, 167, 106);
    color: #fff;
    padding: 15px;
  }

.scrump {
    color:  green;
  }

header {
    background-color: tomato;
    padding: 15px;
    margin: -10px;
    font-weight: bold;
    border-bottom: solid black;
    color: white;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

td {
    padding: 5px;
    border: 1px solid rgb(125, 125, 125);
}

main p {
    margin-top: 5px;
    margin-bottom: 5px;
}

main a:hover {
    color: rgb(56, 140, 250);
    background-color: rgb(187, 218, 255);
    box-shadow: 5px 5px 5px rgb(125, 125, 125);
    transition: box-shadow .5s
}


main a {
    padding: 5px;
    color: black;
}
